h2 .accordion-link,
h3 .accordion-link {
    background-color: lighten(saddlebrown, 15%);
    padding: .25em;
    width: 100%;
}

h2 .accordion-link:hover,
h3 .accordion-link:hover {
    background-color: orange;
    border: 1px dotted purple;
}


/* menu button */

.menu {
    @include container;
    @include span(2);
    margin: 1em;
    float: right;
    a {
        padding: 0.5em 0.625em;
        /*10/16 */
        background-color: #555;
        border-radius: 5px;
        color: #fff;
        text-decoration: none;
    }
    a:hover {
        color: #555;
        background-color: #f90;
    }
}

button {
    display: block;
    background-color: white;
    margin: 1em;
}

button:hover {
    background-color: lightsalmon;
}
