// Change the palette colors to your own. You can also change which color is where and add your own variables.

//colors from Beautiful American Palette by Oktober http://www.colourlovers.com/palette/1642150/Vintage_American_II
$oldpride: #72250f; //by shannenb
$redglory: #b32e2b; //by shannen
$dustinthewind: #ebe0cd; //by liddle_r
$waterserpents: #476388 ; //by tart
$shadowsrest: #191c2f ; //by midwinter original
$palette1: #fff; //white
$aquahead: #2FB8AC; //sea green

//Now we set some of the main colors based on the palette

$primary: $oldpride;
$background: lighten($dustinthewind, 10%);
$highlight: $oldpride;
$link: $highlight;
$font-body: waterserpents; //dark grey
$font-heading: $shadowsrest;
