.logo {
    @include container;
    float: left;
    padding: gutter();
    margin: 1em 0 0 1em;
    height: 200px;
    width: 200px;

    @media only screen and (min-width: 45em){
        @include container;
        margin-top: 1em;
        @include span(12);
        display: block;
        text-align: center;
    }
}

.candidate-image {
    height: 0;
    overflow: hidden;
    padding-bottom: 120%;
    margin: 1em auto 0 auto;
}

//__________________________________________
@media only screen and (min-width: 45em) {
    .candidate-image {
        width: 33%;
        height: 33%;
        float: left;
    }
    .candidate-description {
        padding: 0;
        margin: 0;
        width: 33%;
        height: 33%;
        float: left;
    }
    .nys-democratic-primary-content {
        width: 0;
        height: 0;
    }
}
