/* ============================
* NAVIGATION
* Modified from: http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/a-simple-responsive-mobile-first-navigation/
* =============================*/

#main_nav {
    @include container;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-size: 1em;
    clear: both;
    display: none;
    /*hidden to start */
}

#main_nav ul {
    list-style: none;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

#main_nav li a {
    display: block;
    color: #fff;
    background-color: #2FB8AC;
    text-transform: uppercase;
    padding: .5em;
    /* 10px in ems is 10/16 */
    text-decoration: none;
    font-weight: 900;
    margin-top: .5em;
}

#main_nav li a:hover {
    color: #555;
    background-color: #fff;
}

#main_nav li a:active {
    color: #555;
    background-color: #f90;
}


/* ==========================
*  Media Queries for Main Nav
*  ========================== */


/* 45em is about 720px depending on the base font-size */

@media only screen and (min-width: 45em) {
    /* hide the menu button */
    .menu {
        display: none;
    }
    .main-navigation {}
    #main_nav {
        /*imports SUSY settings*/
        @include container;
        @include span(12);
        /* move main_nav to top of the screen */
        position: absolute;
        top: 0;
        left: gutter(4);
        /* other main nav styling */
        width: 100%;
        display: inline;
        overflow: hidden;
        background-color: $aquahead;
        li {
            @include container;
            @include span(2);
            display: inline;
            padding: 0;
        }
        a {
            float: left;
            padding: 0;
            /* 10/16  and  15/16 */
            border-bottom: none;
            margin: 0;
        }
    }
    //removes button from the top when larger screen size
    #main_nav li a.top {
        display: none;
    }
    .container {
        margin-top: 2.5em;
    }
}


/*______________________________*/


/*main nav Clearfix*/

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}
