/* ============================
* NAVIGATION
* Modified from: http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/a-simple-responsive-mobile-first-navigation/
* =============================*/

#main_nav {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-size: 1em;
    clear: both;
    display: none;
    /*hidden to start */
}

#main_nav ul {
    list-style: none;
    line-height: 1;
    margin: 0;
    padding: 0;
}

#main_nav li a {
    display: block;
    color: #fff;
    background-color: #2FB8AC;
    text-transform: uppercase;
    padding: 1em;
    /* 10px in ems is 10/16 */
    text-decoration: none;
    font-weight: 900;
}

#main_nav li a:hover {
    color: #555;
    background-color: #fff;
}

#main_nav li a:active {
    color: #555;
    background-color: #f90;
}


/* ==========================
*  Media Queries for Main Nav
*  ========================== */


/* 45em is about 720px depending on the base font-size */

@media only screen and (min-width: 45em) {
    /* hide the menu button */
    .menu {
        display: none;
    }
    #main_nav {
        /* move main_nav to top of the screen */
        position: absolute;
        top: 0;
        left: 0;
        /* other main nav styling */
        width: 100%;
        display: inline;
        overflow: hidden;
        background-color: #2FB8AC;
    }
    #main_nav li {
        display: inline;
        line-height: 1em;
    }
    #main_nav li a {
        float: left;
        padding: 0.5em;
        /* 10/16  and  15/16 */
        border-bottom: none;
    }
    #main_nav li a.top {
        display: none;
    }
    .container {
        margin-top: 2em;
    }
}


/*______________________________*/


/*main nav*/

.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}
