//style for index page
.index{
    .main-content{
        @include container;
        @include span(12);
        background-color: $waterserpents;
        padding: gutter();
        article{
            background-color: $dustinthewind;
            margin: gutter();
        }
        .deadline-content {
                @include span(12 break);
                background-color: darkblue;
                p {
                    color: #fff;
                }
            }
        .general-election-information {
            background-color: #fff;
            padding: gutter();
        }
    }
}
