//Styling for candidtaes page
.candidates {
    @include container; //candidates container
    .main-content {
        @include container;
        @include span(12);
        background-color: $dustinthewind;
        padding: gutter();
        .party {
            font-weight: 400;
            font-style: italic;
            color: red;
        }
        .candidate-image {
            @include container;
            @include span(12);
            width: 100%;
            height: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .candidate-description {
            text-align: center;
            padding: 0;
            margin: 0;
            width: 100%;
            font-weight: 700;
            font-size: 1em;
        }
        //media query for larger screen size===============
        @media only screen and (min-width: 45em) {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            .candidate-image {
                @include span(6);
                width: 70%;
                height: 70%;
            }
            .candidate-description {
                padding: 0;
                margin: 0;
                width: 90%;
                float: left;
                font-weight: 700;
                font-size: 1em;
                clear: left;
            }
            .column-one {
                @include span(6);
                @include clearfix;
                display: block;
                text-align: center;
                float: left;
                clear: left;
                img {
                    display: block;
                    margin-left: 20%;
                    margin-right: 20%;
                }
            }
            .column-two {
                @include span(6);
                @include clearfix;
                display: block;
                text-align: center;
                float: left;
                clear: right;
                img {
                    display: block;
                    margin-left: 20%;
                    margin-right: 20%;
                }
            }
            ol {
                @include container;
                @include span (12);
                margin-left: 1em;
            }
            h1,
            h2,
            h3,
            h4 {
                @include span(12);
                text-align: center;
                clear: both;
            }
            p {
                @include span(12);
            }
            .name {
                font-family: 'Crimson Text', serif;
                font-weight: 700;
                color: #ff0000;
            }
        } //end of media query=====================
        .article-content {
            clear: both;
            li {
                clear: both;
                margin-left: gutter();
            }
        }
        //end of article-content
        .federal {
            @include span (12);
            @include clearfix;
            background-color: #fff;
            li {
                list-style: none;
            }
            .federal-content {
                //for larger screen size===============
                @media only screen and (min-width: 45em) {
                    p {
                        text-align: center;
                    }
                    .federal-president-content {
                        h3 {
                            text-align: center;
                        }
                        li {
                            list-style: none;
                        }
                    }
                } //end of query
            }
            .federal-congress-content {
                li {
                    list-style: none;
                }
            }
            .federal-house-of-representative-content {
                li {
                    list-style: none;
                }
            }
        } //end of federal
        .nys {
            @include span (12 break);
            background-color: $palette1;
            border-width: medium;
            padding: 1em;
            li {
                list-style: none;
            }
            .nys-content {}
            .nys-democrat-content {}
            .nys-republican-content {
                p {
                    text-align: center;
                    clear: both;
                }
            }
            .nys-democratic-primary-content {}
            .nys-republican-primary-content {}
        } //end of nys
    } //end of main content
}
